@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

.light-theme {
  --text-color : #102c57;
  --bg-color : #f4f4f4;
}

.dark-theme {
  --text-color : #f8f0e5;
  --bg-color : #050e1b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: 0.5s ease-in-out;
}

.wrapper {
  width: 80%;
  margin: auto;
}

/* Navbar */

.Navbar {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}


.navbarRightSide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Label {
  font-size: larger;
  font-weight: 700;
}

h2 {
  cursor: pointer;
  user-select: none;
}

.Select {
  font-size: medium;
  width: 70px;
  height: 30px;
  margin-left: 10px;
  border-radius: 5px;
  border-color: var(--text-color);
  border-width: 2px;
}

/* Banner */

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.bannerTitle {
  padding: 20px 0;
  font-size: xx-large;
}

.slider {
  text-decoration: none;
  margin-top: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

img {
  height: 80px;
  width: 80px;
}

.trendPrice {
  font-size: large;
}

 /* Crypto Table */

.tableContainer {
  width: 100%;
  overflow: scroll;
  margin-block: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tableContainer h1 {
  font-weight: 200;
  padding: 20px 0;
}

.tableContainer input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 2px solid;
  border-color: var(--text-color);
  /* color: #102c57; */
  padding: 10px 40px;
  font-size: medium;
}

.loader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  /* color: #102c57; */
  width: 100%;
  margin-block: 30px;
}

table,
th,
td {
  cursor: pointer;
  border-collapse: collapse;
}

th {
  background-color: var(--text-color);
  font-size: larger;
  padding: 20px 20px;
  color: var(--bg-color);
}

.coinsRow {
  text-align: left;
}

.colData {
  text-align: right;
  padding: 0px 20px;
}

.firstColData {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px 20px;
}

 /* Pagination  */

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 1rem;
  gap: 10px;
}

.pagination button {
  cursor: pointer;
  font-size: larger;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border-color: var(--text-color);
  border: 2px solid;
}

.pagination button.active {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: var(--text-color);
  color: var(--bg-color);
}

 /* Coin Page  */

.coinPage {
  width: 100%;
  margin-top: 40px;
  display: flex;
}

 /* Coin Data Component  */

.aboutCoin {
  width: 30%;
}

.upperPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.lowerPart {
  gap: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Chart Component  */

.chart {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 0 30px;
}

.chartButtons {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  width: 100%;
}

.chartControlButton {
  cursor: pointer;
  background-color: var(--bg-color);
  /* color:#102c57; */
  border-color: var(--text-color);
  font-weight: bold;
  font-size: medium;
  width: 100px;
  border: 3px solid;
  border-radius: 20px;
  height: 40px;
}

.chartControlButton:hover {
  background-color: var(--text-color);
  color:var(--bg-color);
  border-color: var(--text-color);
}

 /* For Responsiveness  (Tab - View)  */

@media only screen and (max-width: 1090px) {
  .chart {
    width: 110%;
    margin-block: 30px;
    /* height: 50vh; */
  }

  .coinPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .aboutCoin {
    width: 80%;
  }
}

/* For Responsiveness ( Mobile - View )  */

@media only screen and (max-width: 580px) {
  .wrapper {
    width: 95%;
    overflow: scroll;
  }
}